body {
  position: relative; }

/* Nav Settings*/
nav {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center; }
  nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

@media screen and (min-width: 1024px) {
  .nav-container {
    width: 860px; } }
@media screen and (max-width: 1024px) {
  .nav-container {
    width: 100%;
    padding: 0 20px; } }
@media screen and (max-width: 480px) {
  .nav-container {
    padding: 0 10px; } }
#nav-right {
  width: 85px;
  display: flex;
  justify-content: space-between; }
  #nav-right a {
    font-size: 16px; }

nav {
  color: white;
  background-color: #313131; }

@media screen and (min-width: 1024px) {
  .nav-container {
    width: 990px; } }
/* Container Settings*/
.container {
  width: 990px;
  margin: 95px auto 20px; }

.main-content {
  width: 67%; }
  .main-content .heading h1 {
    padding-bottom: 37px;
    border-bottom: 7px solid #75da7a; }
  .main-content .heading .article-info {
    font-size: 0.87em;
    color: #9c9c9c;
    margin: 20px 0 65px; }
    .main-content .heading .article-info .material-icons {
      font-size: 1em; }
  .main-content img {
    width: 100%; }
  .main-content article {
    padding-top: 65px;
    margin-bottom: 120px; }
    .main-content article h1,
    .main-content article h2,
    .main-content article h3,
    .main-content article h4,
    .main-content article h5,
    .main-content article h6 {
      line-height: 4em;
      font-weight: 500; }
    .main-content article p {
      margin-bottom: 20px; }
    .main-content article a {
      color: #53ce59; }

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 20px; }

  .main-content {
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .sidebar {
    display: none; } }
@media screen and (max-width: 480px) {
  .container {
    padding: 0 10px; } }
.sidebar {
  width: 30%;
  background-color: rgba(143, 213, 195, 0.25);
  padding: 30px;
  position: relative; }
  .sidebar h3 {
    line-height: 2.5em; }
  .sidebar li {
    margin-top: 15px;
    font-size: 0.88em; }

.other-container {
  padding: 30px 40px;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .other-container .next-news,
  .other-container .prev-news {
    width: 270px; }
    .other-container .next-news p,
    .other-container .prev-news p {
      margin-top: 10px; }
  .other-container p {
    font-size: 0.88em;
    color: #9b9b9b; }
  .other-container .image {
    height: 152px;
    background-color: lightgray;
    background-size: cover;
    background-position: center center;
    margin: 25px 0; }

@media screen and (max-width: 768px) {
  .other-container {
    flex-direction: column;
    align-items: center; } }
footer {
  background-color: #e0caad;
  background-image: url(../img/footer.jpg);
  background-position: left center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer ul {
    margin: auto;
    display: flex;
    justify-content: center; }
    footer ul li {
      font-size: 87%;
      padding: 0 20px;
      border-left: 1px solid #313b4f; }
      footer ul li:first-child {
        border: 0; }
  footer p {
    font-size: 87%;
    margin-top: 20px; }

@media screen and (max-width: 768px) {
  footer ul li {
    padding: 0 10px; } }
@media screen and (max-width: 480px) {
  footer ul {
    flex-direction: column;
    align-items: center; }
    footer ul li {
      margin-bottom: 20px;
      border: 0; } }

/*# sourceMappingURL=article.css.map */
