body {
  position: relative; }

nav {
  color: white;
  background-color: #313131;
  padding: 17px 50px; }

main > .container {
  max-width: 990px;
  margin: 95px auto 0 auto; }
  main > .container .main-content {
    width: 67%; }
    main > .container .main-content .heading h1 {
      padding-bottom: 37px;
      border-bottom: 7px solid #75da7a; }
    main > .container .main-content .heading .article-info {
      font-size: 0.87em;
      color: #9c9c9c;
      margin: 20px 0 65px 0; }
      main > .container .main-content .heading .article-info .material-icons {
        font-size: 1em; }
    main > .container .main-content img {
      width: 100%; }
    main > .container .main-content article {
      padding-top: 65px;
      margin-bottom: 120px; }
      main > .container .main-content article h1, main > .container .main-content article h2, main > .container .main-content article h3, main > .container .main-content article h4, main > .container .main-content article h5, main > .container .main-content article h6 {
        line-height: 4em;
        font-weight: 500; }
      main > .container .main-content article p {
        margin-bottom: 20px; }
      main > .container .main-content article a {
        color: #53ce59; }
  main > .container .sidebar {
    width: 30%;
    background-color: rgba(143, 213, 195, 0.25);
    padding: 30px;
    position: relative; }
    main > .container .sidebar h3 {
      line-height: 2.5em; }
    main > .container .sidebar li {
      margin-top: 15px;
      font-size: 0.88em; }
  main > .container .other_news .container {
    padding: 25px 40px;
    background-color: #e5e5e5; }
    main > .container .other_news .container .prev-news, main > .container .other_news .container .next-news {
      width: 270px; }
      main > .container .other_news .container .prev-news.hide, main > .container .other_news .container .next-news.hide {
        display: none; }
    main > .container .other_news .container p {
      font-size: 0.88em;
      color: #9b9b9b; }
    main > .container .other_news .container .image {
      height: 152px;
      background-color: lightgray;
      background-size: cover;
      background-position: center center;
      margin: 25px 0; }

footer {
  background-color: #e0caad;
  background-image: url(../img/footer.jpg);
  background-position: left center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer ul {
    margin: auto;
    display: flex;
    justify-content: center; }
    footer ul li {
      font-size: 87%;
      padding: 0 20px;
      border-left: 1px solid #313b4f; }
      footer ul li:first-child {
        border: 0; }
  footer p {
    font-size: 87%;
    margin-top: 20px; }

@media screen and (max-width: 768px) {
  footer ul li {
    padding: 0 10px; } }
@media screen and (max-width: 480px) {
  footer ul {
    flex-direction: column;
    align-items: center; }
    footer ul li {
      margin-bottom: 20px;
      border: 0; } }

/*# sourceMappingURL=issue_article.css.map */
