body{position: relative;}

nav{
  color: white;
  background-color: #313131;
  padding: 17px 50px;
}

main>.container{
  max-width: 990px;
  margin: 95px auto 0 auto;

  .main-content{
    width: 67%;

    .heading{
      h1{
        padding-bottom: 37px;
        border-bottom: 7px solid #75da7a;
      }

      .article-info{
        font-size: 0.87em;
        color: #9c9c9c;
        margin: 20px 0 65px 0;

        .material-icons{
          font-size: 1em;
        }
      }
    }

    img{
      width: 100%;
    }

    article{
      padding-top: 65px;
      margin-bottom: 120px;

      h1,h2,h3,h4,h5,h6{
        line-height: 4em;
        font-weight: 500;
      }
      
      p{
        margin-bottom: 20px;
      }
      
      a{
        color: #53ce59;
      }
    }
  }

  .sidebar{
    width: 30%;
    background-color: rgba(143, 213, 195, 0.25);
    padding: 30px;
    position: relative;

    h3{
      line-height: 2.5em;
    }

    li{
      margin-top: 15px;
      font-size: 0.88em;
    }
  }

  .other_news{
    .container{
      padding: 25px 40px;
      background-color: #e5e5e5;

      .prev-news, .next-news{
        width: 270px;
        
        &.hide{
          display: none;
        }
      }

      p{
        font-size: 0.88em;
        color: #9b9b9b;
      }

      .image{
        height: 152px;
        background-color: lightgray;
        background-size: cover;
        background-position: center center;
        margin: 25px 0;
      }
    }
  }
}

@import "footer";
