/* Global Settings */

body{
  background-color: #333333;
  margin: 0;
}

a{
  text-decoration: none;
}

p{
    font-family: 微軟正黑體;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Nav Settings */

nav{
  height: 65px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-right{
  width: 80px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

#nav-right a{
  color: #333333;
  font-size: 16px;
}

/* Container Settings */

.container{
  margin-top: 95px;
  margin-bottom: 165px;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}

#issue-title{
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #e0e0e0;
}

#green-bar{
  margin-top: 24px;
  width: 100%;
  height: 5px;
  background-color: #75da7a;
}

.issues{
  margin-top: 65px;
}

.issues li{
  display: flex;
  margin-bottom: 40px;
}

.issue-image{
  width: 320px;
  height: 240px;
  background-color: gray;
}

.issue-content{
  width: 540px;
  height: 240px;
  background-color: white;
}

/* Footer Settings */
footer{
  background-image: url('../img/footer.jpg');
  height: 142px;
}
